<%= render "shared/header" %>
<div class="genre-page">
  <% if @p.genre_id_eq.blank?%>
    すべてのもんだいです
  <% else %>
    <%= @genre.name %>のもんだいページです
  <% end %><br>

  <%# 検索結果の個数で条件分岐 %>
  <div class="genre-list">
    <% if @results.length !=0 %>
      <% @results.each do |result| %>
        <div class="question-title" >
          <li class="genre-li">
          <%= link_to result.question_name, new_question_answer_path(question_id: result.id ) ,class: "genre-question-name", id: "button" %>

          <% if user_signed_in? %>
            <% if current_user.id == result.user_id %>
              <span class="show-lists hidden" , id="lists">◇
                <%= link_to "編集", edit_question_path(result.id), method: :get,    class:"question-link" %>
                <%= link_to "削除", question_path(result.id),      method: :delete, class:"question-link" %>
              </span>
            <% end %>
          <% end %>

          <br>
          <span class="genre-tip">(ヒント：<%= result.tip %>）</span>
          <span class="genre-user"> ✨ 出題者：<%= result.user.nickname %></span>
          </li>
        </div>
      <% end %>
    <% else %>
      ざんねん...もんだいは、まだありません
  <% end %>
  </div>
  <%# 検索結果の個数で条件分岐 %>

  <div class="root-path-link">
    <%= link_to 'トップページへ戻る', root_path ,class: "root-path-link"%>
  </div>
</div>