<%= render "shared/header" %>
<div class = main>
  <%# 画面上部の「人生を変える学習アプリ」の帯部分 %>
    <div class='title-contents'>
      <h2 class='service-title'>
        人生を変える学習アプリ
      </h2>
      <p class='service-explain'>
        SPP_APPはだれでもお勉強が好きになれる。自分でもできる自信がつく。
      </p>
      <p class='service-explain'>
        そんな学習アプリです。
      </p>
      <p class='service-explain'>
        さぁ、やればできる！学ぶ楽しさを体験しよう！
      </p>
    </div>
  <%# 画面上部の「人生を変える学習アプリ」の帯部分 %>

  <%# 課題を選ぶ %>
  <div class="genre-select-field" >
    <%= search_form_for @p, url: genre_questions_path do |f| %>
      <%= f.label :genre_id_eq, 'なんのかもくにチャレンジしますか？',class:"genre-select-label" %>
      <div class="genre-select-pulldown" >
        <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name, include_blank: '---' %>
        <span class="finger">👈</span>
      </div>
      <%= f.submit 'もんだいをえらぶ' %>
    <% end %>
  </div>
  <%# 課題を選ぶ %>
  <%#  ネオン文字部分 %>
  <div class="neon">
    <div class="YDK1">tu peux le faire si tu essaies</div>
    <div class="YDK2">you can do it if you try</div>
    <div class="YDK3">やればできる</div>
    <div class="YDK4">Si Potes Probare</div>
    <div class="YDK5">ティモンディ高岸宏行さん</div>
  </div>
  <%#  ネオン文字部分 %>
  <%# 課題作成ボタン %>
  <%= link_to(new_question_path, class: 'new-question-btn') do %>
    <span class='new-question-btn-text'>課題を作成する</span>
    <%= image_tag 'sozai_cman_jp_20210625151446.png' , size: '185x50' ,class: "new-question-btn-icon" %>
  <% end %>
  <%# 課題作成ボタン %>

</div>