<%= render "shared/header" %>
<div class = main>
  <%# 画面上部の「人生を変える学習アプリ」の帯部分 %>
    <div class='title-contents'>
      <h2 class='service-title'>
        人生を変える学習アプリ
      </h2>
      <p class='service-explain'>
        SPP_APPはだれでもお勉強が好きになれる。自分でもできる自信がつく。
      </p>
      <p class='service-explain'>
        そんな学習アプリです。
      </p>
      <p class='service-explain'>
        さぁ、やればできる！学ぶ楽しさを体験しよう！
      </p>
    </div>
  <%# 画面上部の「人生を変える学習アプリ」の帯部分 %>

  <%# 課題一覧 %>
    <div class='question_contents'>
      <h2 class='question_title'>もんだいをえらんでね</h2>
      <div class="main-genre">
        <div class="japanese">
          <%= link_to 'こくご', japanese_questions_path, class: 'japanese-link' %>
        </div>
        <div class="math">
          <%= link_to 'さんすう', math_questions_path, class: 'math-link' %>
        </div>
        <div class="english">
          <%= link_to 'えいご', english_questions_path, class: 'english-link' %>
        </div>
      </div>
    </div>
  <%# 課題一覧 %>

  <%# 課題作成ボタン %>
  <%= link_to(new_question_path, class: 'new-question-btn') do %>
    <span class='new-question-btn-text'>課題を作成する</span>
    <%= image_tag 'sozai_cman_jp_20210625151446.png' , size: '185x50' ,class: "new-question-btn-icon" %>
  <% end %>
  <%# 課題作成ボタン %>

  <%# 課題一覧表示 %>
  <% @question.each do |question| %>
    <%= link_to '#' do %>
      <%= question.question_name %>
    <% end %>
  <% end %>
  <%# 課題一覧表示 %>


</div>