<%= render "shared/header" %>
<h2>Sign up</h2>
<h2>( しんきとうろく がめんだよ )</h2><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %><br />

  <div class="field">
    <%= f.label :nickname %><br />
    <div class="nickname-description">( ニックネームをきめてね )</div>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div><br />

  <div class="field">
    <%= f.label :email %><br />
    <div class="email-description">( メールアドレスをにゅうりょくしてね )</div>
    <%= f.email_field :email, autocomplete: "email" %>
  </div><br />

  <div class="field">
    <%= f.label :password %>
        <div class="password-description"></div>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="password-description">
    ( パスワードをきめてね。 少なくても、6もじはひつようだよ )
    </div>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <div class="password-confirmation-description">
    ( パスワードをかくにんするよ。 おなじパスワードをもういちど、にゅうりょくしてね )
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br />

  <div class="actions">
    <div class="sign-up-description">
    ( とうろくするよ。 ↓のSign upボタンを押してね )
    </div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

