<%= render "shared/header" %>
<div class="registrations-new-page">
  <h2>新規登録ページ</h2>
  <h2>(しんきとうろく がめんだよ)</h2>
  <span><em>おうちのひとと、そうだんしながらはじめてね</em></span>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %><br />

    <div class="field">
      <%= f.label :ニックネーム %><br />
      <div class="nickname-description">(ニックネームはアプリのなかで、つかえるなまえだよ)</div>
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:"例) test太郎" %>
    </div><br />

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <div class="email-description">(メールアドレスは、てきとうなものでもいいよ)</div>
      <%= f.email_field :email, autocomplete: "email", placeholder:"例) test@test.com" %>
    </div><br />

    <div class="field">
      <%= f.label :パスワード %>
          <div class="password-description"></div>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>もじいじょう、ひつようだよ)</em>
      <% end %><br />
      <div class="password-description">
      (パスワードはわすれないものにしようね)
      </div>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"例) 20150707" %>
    </div><br />

    <div class="field">
      <%= f.label :パスワードのかくにん%><br />
      <div class="password-confirmation-description">
      ( パスワードをかくにんするよ。<br> おなじパスワードをもういちど、にゅうりょくしてね )
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"例) 20150707" %>
    </div><br />

    <div class="actions">
      <div class="sign-up-description">
      (↓のとうろくして あそぶボタンをポチしてね)
      </div>
      <%= f.submit "とうろくして あそぶ" %>
    </div>
  <% end %>
</div>