<%= render "shared/header" %>
<div class="scoring-page">
  <div class="scores-answer-new">
    <div class="left-answer-new">
      <h2 class= question-name>
        【No.<%= @question.id %>】 <%= @question.question_name %>
      </h2>
      <div class="question-content">
        【もんだい】<%= @question.question_content %>
      </div>
      <div class="question-tip">
        【ヒント】<%= @question.tip %>
      </div>
    </div>

    <div class="center-answer-new">
      <% if @answer.answer_content == @question.model_answer %>
        <div class="judge" >大正解！！</div>
      <% else %>
        <div class="judge" >ざんねん...</div>
      <% end %>
    </div>
    
    <div class="right-answer-new">
      <div class="judge-criteria">
        判定基準：
        <div>かんぜんせいかい：10てん</div>
        <div>はんぶんせいかい：5てん</div>
        <div>ハズレ：0てん</div>
        <div>※むずかしいときは、おうちの人にきいてね！</div>
      </div>
    </div>
  </div>

  <div class="answer-vs-model-answer">
    <div class="users-answer-field">
      <span class="answer-field">あなたのかいとう</span>
      <div class="users-answer-content">
        <%= @answer.answer_content %>
      </div>
    </div>
    <div class="model-answer-field">
      <span class="answer-field">こたえ</span>
      <div class="model-answer-content">
        <%= @question.model_answer %>
      </div>
    </div>
  </div>

  <%# 各解答に対するスコアを表示 %>
  <div class="scoring-field">
    <div class="judge-history">
      <%= "#{@score.score}てんでした！" %>
    </div>
  </div>
  <%# 各解答に対するスコアを表示 %>
</div>