<%= render "shared/header" %>
<div class="answer-new">
  <h2>
    【No.<%= @question.id %>】 <%= @question.question_name %>
  </h2>
  <div class="question-content">
    【もんだい】<%= @question.question_content %>
  </div>
  <div class="question-tip">
    【ヒント】<%= @question.tip %>
  </div>
  <div class="answer-content">
    <%= form_with model: [@question, @answer],local: true do |f| %>
      <%= f.text_area :answer_content, class:"answer-text", placeholder:"こたえをにゅうりょくしてください" %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="answer-btn-content">
        <%= f.submit "こたえる" ,class:"answer-btn" %>
      </div>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    <% end %>
  </div>
</div>