<%= render "shared/header" %>
<div class="sessions-new-page">
  <h2>Log in</h2>
  <h2>( ログイン がめんだよ )</h2><br />

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <div class="email-description">( メールアドレスをにゅうりょくしてね )</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div><br />

    <div class="field">
      <%= f.label :password %><br />
      <div class="password-description">
      ( パスワードをおもいだして、にゅうりょくしてね )
      </div>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div><br />

    <div class="actions">
      <div class="sign-up-description">
      ( さぁ、ログインしてあそぼう！)
      </div>
      <div class="sign-up-description">
      (↓Log inのボタンをおしてね )
      </div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>