<%= render "shared/header" %>
<div class="sessions-new-page">
  <h2>ログインページ</h2>
  <h2>(ログイン がめんだよ)</h2>
  <span><em>わからないときは、おうちのひとにきこうね</em></span>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field"><br/>
      <%= f.label :メールアドレス %><br />
      <div class="email-description">(とうろくしたメールアドレスをにゅうりょくしてね)</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div><br />

    <div class="field">
      <%= f.label :パスワード %><br />
      <div class="password-description">
      (パスワードをおもいだして、にゅうりょくしてね)
      </div>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div><br />

    <div class="actions">
      <div class="sign-up-description">
      ( さぁ、ログインしてあそぼう！)
      </div>
      <div class="sign-up-description">
      (↓ログインしてあそぶボタンをおしてね )
      </div>
      <%= f.submit "ログインしてあそぶ" %>
    </div>
  <% end %>
</div>